{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <form method="post" action=".">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn-primary">{% trans 'Log in' %}</button>
            {% endbuttons %}

            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <hr>
        <a href="{% url 'social:begin' "vk-oauth2" %}" class="vk sn-logo">Login with VK</a>

        <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
    </div>

{% endblock %}
