{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
    TRPO - Chat
{% endblock %}



{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1><abbr title="Технология разработки программного обеспечения">TRPO</abbr>-Chat Wellcome!</h1>
            <p class="lead">Glad to see you here! Please <a href="/accounts/login">Login</a> or <a
                    href="/accounts/register">Register</a> to start use this app</p>
        </div>
    </div><!-- /.container -->
{% endblock %}