{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.name }} - chat{% endblock %}

{% block js %}
    <script type='text/javascript' src='{% static "/js/chat-script.js" %}' defer="defer"></script>
    <script>
        window.chatId = {{ object.id }};
    </script>
{% endblock %}

{% block body %}
    <div class="global-left">
        <div class="message-list" data-bind="foreach: $root.messages">
            <div class="message">
                <img src="{% static "/img/avatar_placeholder.png" %}" class="message-left avatar"/>
                <div class="message-right">
                    <p class="user-name" data-bind="text:author.username"></p>
                    <p class="message-text" data-bind="text:text"></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="new-message">
            <div class="new-message-form-wrapper">
                <form data-bind="submit: $root.addMessage" id="new-message-form">
                    <textarea data-bind="value: textMessage" name="text"></textarea>
                    <button>Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="global-right">
        <div class="user-info">
            <div class="unsigned">
                <button data-bind="click: $root.openSignInModal">Вход</button>
                <button data-bind="click: $root.openSignUpModal">Регистрация</button>
            </div>
            <div class="signed">

            </div>
        </div>
        <div class="user-list">

        </div>
    </div>

    <!-- ko if: signInModal -->
    <div data-bind="click: $root.closeSignInModal" class="modal-background">
    </div>
    <div class="modal-window">
        <form>
            <input/>
            <input/>
            <button>ок</button>
        </form>
    </div>
    <!-- /ko -->
    <!-- ko if: signUpModal -->
    <div data-bind="click: $root.closeSignUpModal" class="modal-background">
    </div>
    <div class="modal-window">
        <form>
            <input/>
            <input/>
            <button>ок</button>
        </form>
    </div>
    <!-- /ko -->
{% endblock %}
